[user]
    name = sano
    email = sano@iruka-system.co.jp
[credential]
    helper = cache --timeout=21600
[core]
    quotepath = false
	safecrlf = false
	autocrlf = false
    editor = vim
	filemode = false
[color]
    diff = always
    status = always
    branch = always
[http]
    sslVerify = false
[pull]
    rebase = false
[push]
    default = simple
    followTags = true
[alias]
    # show git log one line
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

    # show Modify/Add/Delete on some day(arg1 = yyyy-mm-dd)
    clog = "!f(){ git diff --stat `git log --pretty=format:'%H' --before "$1T23:59:59+09:00" --after "$1T00:00:00+09:00" | tail -1`^..`git log --pretty=format:'%H' --before "$1T23:59:59+09:00" --after "$1T00:00:00+09:00" | head -1`;};f"
[status]
    showUntrackedFiles = all

