[client]
user = root
password = 
database = 
host = localhost
default-character-set=utf8

[mysql]
#prompt=mysql [\\U \\d] >  
#prompt='\\U: [\\d] \\R:\\m:\\s > '
prompt='\\U: [\\d] \\D > '
pager=grcat ~/.grcat.mysql | less -R -S -F -X -i -n --shift 5
#pager=less -RSFXin

[mysqldump]

